* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
section{
  max-width: 94vw;
  margin: auto;
}
/*Communs disposition values*/
:root{
--standartspace:0.9em;
--content-padding:5px;
}
/*Communs Colors images*/
:root{
  --main-dark-color:#333;
  --main-clear-color:#f5F5F5;
  --first-color:#e65639;
  --secondary-indigo:#2B254C;
  --secondary-citron:#FFE475;
  --grey-clear-color:#a8a9ad;
  --rs-bckgrnd-img:url("../img/deco/logo-rs_30px.png");
}
/*Fonts*/
@font-face{
  font-family:'myFirstFont';
  src:
  url("./fonts/GT-Eesti-Display-Regular.ttf"),
  url("./fonts/GT-Eesti-Display-Regular.otf"),
  url("./fonts/GT-Eesti-Display-Regular.wof");
}
/*Use this font with this line => font-family: myFirstFont;*/
@font-face{
  font-family:"myTitleFont";
  src:
  url("./fonts/GT-Eesti-Display-Ultra-Bold.ttf"),
  url("./fonts/GT-Eesti-Display-Ultra-Bold.otf"),
  url("./fonts/GT-Eesti-Display-Ultra-Bold.wof");
}
/*Use this font with this line => font-family: myTitleFont;*/
body{
  font-family: "myFirstFont";
  color: var(--main-clear-color);
  background-color:var(--secondary-indigo);
}
h1 {
  margin-bottom: 2rem;
}
h2{
  color: var(--first-color);
  font-family: "myTitleFont";
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2{
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
h3{
  font-size: 1.2em;
  font-weight: lighter;
}
label{
  margin-right: 2em;
}